#header{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: whitesmoke;
}

#systemList{
    margin-top: 50px;
    margin-bottom: 50px;
}

#forward{
    margin-bottom: 20px;
}

.system{
    cursor: pointer;
    margin-bottom: 10px;
}

#shell iframe{
    height: 80vh;
    width: 100%;
    border: 0;
}

#fullScreenFrame{
    height: 100vh;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index:100;
}

.exitFullScreen {
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 200;
    visibility: hidden;
    cursor: pointer;
    visibility: visible;
    color: white;
}

footer{
    padding-top: 20px;
    background-color: whitesmoke;
}

footer a {
    color: #616161;
}